# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
# .env*.local
# .env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Spring Boot

geo-cidadao-services/*/HELP.md
geo-cidadao-services/*/target/
geo-cidadao-services/*/.mvn/wrapper/maven-wrapper.jar
geo-cidadao-services/*/!**/src/main/**/target/
geo-cidadao-services/*/!**/src/test/**/target/

### STS ###
geo-cidadao-services/*/.apt_generated
geo-cidadao-services/*/.classpath
geo-cidadao-services/*/.factorypath
geo-cidadao-services/*/.project
geo-cidadao-services/*/.settings
geo-cidadao-services/*/.springBeans
geo-cidadao-services/*/.sts4-cache

### IntelliJ IDEA ###
.geo-cidadao-services/*/.idea
geo-cidadao-services/*/*.iws
geo-cidadao-services/*/*.iml
geo-cidadao-services/*/*.ipr

### NetBeans ###
geo-cidadao-services/*/nbproject/private/
geo-cidadao-services/*/nbbuild/
geo-cidadao-services/*/dist/
geo-cidadao-services/*/nbdist/
geo-cidadao-services/*/.nb-gradle/
geo-cidadao-services/*/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
geo-cidadao-services/*/.vscode/

docker-compose/geocidadao

