version: "3.8"
services:
  db:
    image: postgres:15-alpine
    ports:
      - "5433:5432"
    environment:
      POSTGRES_PORT: 5433
      POSTGRES_DB: geodb
      POSTGRES_USER: geo
      POSTGRES_PASSWORD: geo
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    networks:
       - geo-network
  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "rabbitmq-diagnostics ping"]
      interval: 30s
      timeout: 10s
      retries: 5
    ports:
      - "5673:5672"
      - "15673:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq/
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin
    networks:
      - geo-network
  mongodb:
    image: mongo:8.0
    container_name: mongodb
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - geo-network
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    command: "start-dev"
    ports:
      - "8082:8180"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin

      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://db:5432/geodb
      KC_DB_USERNAME: geo
      KC_DB_PASSWORD: geo

      KC_HOSTNAME: localhost
      KC_HTTP_PORT: 8180
    networks:
      - geo-network
    depends_on:
      - db
    volumes:
      - keycloak_data:/opt/keycloak/data

  gerenciamento-usuarios:
    container_name: gerenciamento-usuarios
    build:
      context: ../geo-cidadao-services/dockerfiles
      dockerfile: gerenciamento-usuarios-api.dockerfile
    ports:
      - "7080:7080"
    env_file:
      - default.env
      - gerenciamento-usuarios.env
    depends_on:
      - db
    labels:
      - traefik.http.routers.gerenciamento-usuarios.rule=PathPrefix(`/gerenciamento-usuarios`)
      - traefik.http.services.gerenciamento-usuarios.loadbalancer.server.port=8080
      - traefik.http.middlewares.cors.headers.accesscontrolallowmethods=*
      - traefik.http.middlewares.cors.headers.accessControlAllowHeaders=*
      - traefik.http.middlewares.cors.headers.accesscontrolalloworiginlist=*
      - traefik.http.middlewares.cors.headers.accesscontrolmaxage=100
      - traefik.http.middlewares.cors.headers.addvaryheader=true
      - traefik.http.routers.gerenciamento-usuarios.middlewares=cors
    networks:
      - geo-network
    restart: always

  traefik:
    image: traefik:v2.10
    command: --api.insecure=true --providers.docker
    ports:
      - "${TRAEFIK_SERVICES_PORT}:80"
      - "${TRAEFIK_DASHBOARD_PORT}:8080"
    volumes:
      - ./traefik:/etc/traefik
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - geo-network
networks:
  geo-network:
    driver: bridge
volumes:
  postgres_data:
  rabbitmq_data:
  mongo_data:
  keycloak_data: