version: "3.8"
services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.4
    container_name: keycloak
    command: "start-dev"
    ports:
      - "8082:8180"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin

      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://db:5432/geodb
      KC_DB_USERNAME: geo
      KC_DB_PASSWORD: geo

      KC_HOSTNAME: localhost
      KC_HTTP_PORT: 8180

      RABBITMQ_HOST: rabbitmq
      RABBITMQ_USER: admin
      RABBITMQ_PASSWORD: admin
    networks:
      - geo-network
    depends_on:
      - db
    volumes:
      - ./keycloak/providers/keycloak-rabbitmq-spi-1.0.0.jar:/opt/keycloak/providers/keycloak-rabbitmq-spi-1.0.0.jar
      - keycloak_data:/opt/keycloak/data
  db:
    image: postgres:15-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PORT: 5432
      POSTGRES_DB: geodb
      POSTGRES_USER: geo
      POSTGRES_PASSWORD: geo
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    networks:
      - geo-network
  rabbitmq:
    image: rabbitmq:4.1.4-management
    container_name: rabbitmq
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "rabbitmq-diagnostics ping"]
      interval: 30s
      timeout: 10s
      retries: 5
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq/
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin
    networks:
      - geo-network

  mongodb:
    image: mongo:8.0
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - geo-network

  traefik:
    image: traefik:v2.10
    command: --api.insecure=true --providers.docker
    ports:
      - "${TRAEFIK_SERVICES_PORT}:80"
      - "${TRAEFIK_DASHBOARD_PORT}:8080"
    volumes:
      - ./traefik:/etc/traefik
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - geo-network
networks:
  geo-network:
    driver: bridge
volumes:
  postgres_data:
  rabbitmq_data:
  mongo_data:
  keycloak_data:
