.feed-list {
  flex: 1;
  overflow-x: hidden;
  padding: 1rem;
  transition: opacity 0.5s ease, transform 0.5s ease;
  height: 100%;
  max-height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: var(--horizontal-padding);
  padding-right: var(--horizontal-padding);
}

.scroll-in {
  overflow-y: auto;
}

.scroll-out {
  overflow: hidden;
}

/* Animações de fade para a lista de posts */
.fade-in {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-out {
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.feed-container.map-open .feed-list {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.98);
}
