:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--color-border);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;

  --horizontal-padding: 20%;

  /* Tema claro */
  --color-bg: #f9fafb;
  --color-text: #1c1c1c;
  --color-card: #ffffff;
  --color-primary: #0a4d68;
  --color-secondary: #08bdbd;
  --color-alert: #ff6b35;
  --color-border: #e5e5e5;
  --color-hover: rgba(0, 0, 0, 0.05);
  --shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  /* Tema escuro */
  --color-bg: #242424;
  --color-text: #e5e5e5;
  --color-card: #242424;
  --color-primary: #0a4d68;
  --color-secondary: #08bdbd;
  --color-alert: #ff6b35;
  --color-border: #333;
  --color-hover: rgba(255, 255, 255, 0.05);
  --shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.content {
  background-color: var(--color-bg);
  transition: background 0.3s;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
