.feed-list {
  flex: 1;
  overflow-x: hidden;
  padding: 1rem;
  transition: opacity 0.5s ease, transform 0.5s ease;
  height: 100%;
  max-height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: var(--horizontal-padding);
  padding-right: var(--horizontal-padding);
}