version: "3.8"
services:
  keycloak:
    image: pedroreis16/keycloak:latest
    container_name: keycloak
    ports:
      - "8082:8180"
    environment:
      - KEYCLOAK_IMPORT=/opt/keycloak/data/import/geocidadao-realm.json
    depends_on:
      db:
        condition: service_healthy
      init-keycloak-db:
        condition: service_completed_successfully
      rabbitmq:
        condition: service_started
      mailhog:
        condition: service_started
    networks:
      - geo-network
    command: ["start-dev", "--import-realm"]
    volumes:
      - ./keycloak/geocidadao-realm.json:/opt/keycloak/data/import/geocidadao-realm.json
      - ./keycloak/providers/keycloak-rabbitmq-spi-1.0.0.jar:/opt/keycloak/providers/keycloak-rabbitmq-spi-1.0.0.jar
      - ./keycloak/themes:/opt/keycloak/themes/custom-theme
      - keycloak_data:/opt/keycloak/data
  gerenciamento-usuarios:
    container_name: gerenciamento-usuarios
    image: pedroreis16/gerenciamento-usuarios-api:latest
    ports:
      - "8090:8080"
    depends_on:
      keycloak:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    env_file:
      - ./default.env
      - ./gerenciamento-usuarios.env
    labels:
      - traefik.http.routers.gerenciamento-usuarios.rule=PathPrefix(`/gerenciamento-usuarios`)
      - traefik.http.services.gerenciamento-usuarios.loadbalancer.server.port=8090
      - traefik.http.middlewares.cors.headers.accesscontrolallowmethods=*
      - traefik.http.middlewares.cors.headers.accessControlAllowHeaders=*
      - traefik.http.middlewares.cors.headers.accesscontrolalloworiginlist=*
      - traefik.http.middlewares.cors.headers.accesscontrolmaxage=100
      - traefik.http.middlewares.cors.headers.addvaryheader=true
      - traefik.http.routers.gerenciamento-usuarios.middlewares=cors
    networks:
      - geo-network
    restart: always
  gerenciamento-posts:
    container_name: gerenciamento-posts
    image: pedroreis16/gerenciamento-posts-api:latest
    ports:
      - "8091:8080"
    depends_on:
      rabbitmq:
        condition: service_healthy
    env_file:
      - ./default.env
      - ./gerenciamento-posts.env
    labels:
      - traefik.http.routers.gerenciamento-posts.rule=PathPrefix(`/gerenciamento-posts`)
      - traefik.http.services.gerenciamento-posts.loadbalancer.server.port=8091
      - traefik.http.middlewares.cors.headers.accesscontrolallowmethods=*
      - traefik.http.middlewares.cors.headers.accessControlAllowHeaders=*
      - traefik.http.middlewares.cors.headers.accesscontrolalloworiginlist=*
      - traefik.http.middlewares.cors.headers.accesscontrolmaxage=100
      - traefik.http.middlewares.cors.headers.addvaryheader=true
      - traefik.http.routers.gerenciamento-posts.middlewares=cors
    networks:
      - geo-network
    restart: always
  engagement-service:
    container_name: engagement-service
    image: pedroreis16/engagement-service-api:latest
    ports:
      - "8092:8080"
    depends_on:
      rabbitmq:
        condition: service_healthy
    env_file:
      - ./default.env
      - ./engagement-service.env
    labels:
      - traefik.http.routers.engagement-service.rule=PathPrefix(`/engagement-service`)
      - traefik.http.services.engagement-service.loadbalancer.server.port=8092
      - traefik.http.middlewares.cors.headers.accesscontrolallowmethods=*
      - traefik.http.middlewares.cors.headers.accessControlAllowHeaders=*
      - traefik.http.middlewares.cors.headers.accesscontrolalloworiginlist=*
      - traefik.http.middlewares.cors.headers.accesscontrolmaxage=100
      - traefik.http.middlewares.cors.headers.addvaryheader=true
      - traefik.http.routers.engagement-service.middlewares=cors
    networks:
      - geo-network
    restart: always
  post-indexer-worker:
    image: pedroreis16/post-indexing-worker:latest
    container_name: post-indexer-worker
    depends_on:
      rabbitmq:
        condition: service_healthy
    env_file:
      - ./default.env
      - ./post-indexer-worker.env
    networks:
      - geo-network
    restart: always
  relevance-worker:
    image: pedroreis16/relevance-worker:latest
    container_name: relevance-worker
    depends_on:
      rabbitmq:
        condition: service_healthy
    env_file:
      - ./default.env
      - ./relevance-worker.env
    networks:
      - geo-network
    restart: always
  geocidadao-ui:
    container_name: geocidadao-ui
    image: pedroreis16/geocidadao-ui:latest
    ports:
      - "5173:80"
    env_file:
      - ./default.env
      - ./geocidadao-ui.env
    labels:
      - traefik.enable=true
      - traefik.http.routers.geocidadao-ui.rule=PathPrefix(`/`)
      - traefik.http.routers.geocidadao-ui.entrypoints=web
      - traefik.http.routers.geocidadao-ui.priority=1
      - traefik.http.services.geocidadao-ui.loadbalancer.server.port=80
      - traefik.http.middlewares.ui-cors.headers.accesscontrolallowmethods=*
      - traefik.http.middlewares.ui-cors.headers.accessControlAllowHeaders=*
      - traefik.http.middlewares.ui-cors.headers.accesscontrolalloworiginlist=*
      - traefik.http.middlewares.ui-cors.headers.accesscontrolmaxage=100
      - traefik.http.middlewares.ui-cors.headers.addvaryheader=true
      - traefik.http.routers.geocidadao-ui.middlewares=ui-cors
    networks:
      - geo-network
    restart: always
    depends_on:
      - traefik
  traefik:
    image: traefik:v2.10
    command: --api.insecure=true --providers.docker
    ports:
      - "${TRAEFIK_SERVICES_PORT}:80"
      - "${TRAEFIK_DASHBOARD_PORT}:8080"
    volumes:
      - ./docker-compose/traefik:/etc/traefik
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - geo-network
networks:
  geo-network:
    driver: bridge